.headline {
    height: 74px;
    width: 292px;
    margin-top: 61px;
    margin-left: 101px;
}
.container1 {
    width: 1280px;
    height: 69px;
    margin-top: 45px;
    margin-left: 101px;
    background-color: #35444f;
    z-index: 1;
}

.element1{
    width: 480px;
    height: 69px;
    float: left;
}
.element2{
    width: 150px;
    height: 69px;
    float: left;
}
.element3{
    width: 268px;
    height: 69px;
    float: left;
}
.element4 {
    width: 382px;
    float: right;
    height: 69px;
}
.element21{
    width: 342px;
    height: 405px;
    margin-left: 101px;
    position: relative;
    top: 52px;
    outline: 1px solid #000;
}
.baran{
    width: 885px;
    height: 529px;
    position: relative;
    top: -354px;
    left: 496px;
    background-image: url(/img/top-img-fon@1X.png);
}
.element21 div{
    width: 342px;
    height: 81px;
}
.text1{
    width: 815px;
    height: 114px;
    position: relative;
    top: -304px;
    left: 526px;
}
.text2{
    width: 820px;
    height: 109px;
    position: relative;
    top: -274px;
    left: 526px;
}
.container3{
    width: 1280px;
    height: 69px;
    position: relative;
    left: 101px;
    top: -224px;
    background-color:#b4b7ba ;
}
.element31{
    width: 1070px;
    float: left;
    height: 69px;
}
.element32{
    width: 210px;
    float: right;
    height: 69px;
}
.container1 a:hover div{
    background:#222f3a;
}
.element21 a:hover div{
    background-color: #dbdbdb;
}
.element21 a:hover img{
    position: relative;
    left: 20px;
}
